@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    background:#CCD0D9;
    font-size: 120%;
    display: block;
    font-family: "Lato-Light",sans-serif; 
    max-width: 1680px;
    margin: 0 auto;
}

div{
    font-family: "Lato-Light",sans-serif;
    font-size: 3.3em;
    line-height: 1.2em;
    color:#7D7D7D;
    text-align: left;
    margin-top: 300px;
    padding: 0.3em 1.2em;
    width: 95%;

}


ul{ 
    padding: 1.2em 4.2em;
    width: 95%;

}
ul li a{
    color: #737373;
    text-decoration: none;
    font-size: 1.2em;
}
li{
    display: inline-block;

}

footer{
    color: #565656;
    position: absolute;
    left: 0 auto;
    bottom: 0 auto;
    height: 95%;
    display: block;
    
}




img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}




  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

