@-webkit-keyframes transitionIn{
	from{ opacity:0; }
	to{ opacity:1; }
}
@-moz-keyframes transitionIn{
	from{ opacity:0; }
	to{ opacity:1; }
}
@-ms-keyframes transitionIn{
	from{ opacity:0; }
	to{ opacity:1; }
}
@-o-keyframes transitionIn{
	from{ opacity:0; }
	to{ opacity:1; }
}
@keyframes transitionIn{
	from{ opacity:0; }
	to{ opacity:1; }
}
@keyframes transitionIn{
	from{ opacity:0; }
	to{ opacity:1; }
}

::selection{
	background:#000000;
}


html,
body{
	width:100%;
	height:100%;
    min-height: 100%;
	overflow:hidden;
	background: #333333;
	font-family:"Lato-Regular", sans-serif;
	font-weight:normal;
	color:#282828;
}

.wrapper{
	height:100%;
	display: table;
	border:20px solid #282828;
}

.main{
	display:table-cell;
	vertical-align:middle;
	overflow:auto;
}

.header,
.content,
.footer{
	/*estrutura*/
	position:relative;
	overflow:hidden;
	margin:0 auto;
	width:90%;
	height:auto;
}
.content .footer{
	float: left;
}
.footer{
	clear: both;
}
.fade-in{
	/*formatação inicial*/
	opacity:0;
	/*animação*/
	-webkit-animation:transitionIn 0.8s ease-out 0s 1 forwards;
	-moz-animation:transitionIn 0.8s ease-out 0s 1 forwards;
	-ms-animation:transitionIn 0.8s ease-out 0s 1 forwards;
	-o-animation:transitionIn 0.8s ease-out 0s 1 forwards;
	animation:transitionIn 0.8s ease-out 0s 1 forwards;
}
.fade-in.header{
	-webkit-animation-delay:0;
	-moz-animation-delay:0;
	-ms-animation-delay:0;
	-o-animation-delay:0;
	animation-delay:0;
}
.fade-in.header__description{
	-webkit-animation-delay:0.2s;
	-moz-animation-delay:0.2s;
	-ms-animation-delay:0.2s;
	-o-animation-delay:0.2s;
	animation-delay:0.2s;
}
.fade-in.content__title{
	-webkit-animation-delay:0.4s;
	-moz-animation-delay:0.4s;
	-ms-animation-delay:0.4s;
	-o-animation-delay:0.4s;
	animation-delay:0.4s;
}
.fade-in.content__description{
	-webkit-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	animation-delay:0.6s;
}
.fade-in.footer{
	-webkit-animation-delay:0.8s;
	-moz-animation-delay:0.8s;
	-ms-animation-delay:0.8s;
	-o-animation-delay:0.8s;
	animation-delay:0.8s;
}

/*/////////////////////////////////////////////////////
// header // presentation
/////////////////////////////////////////////////////*/

.header{
	font-size:2.3em;
	line-height:1.1em;
}
.header__title{
	margin-top:0;
	line-height:1.1em;
	font-weight:normal;
}
.header__description span{
	display:inline-block;
}

/*/////////////////////////////////////////////////////
// section // projects
/////////////////////////////////////////////////////*/

.content{
	font-weight:bold;
	color:#282828;
	margin-bottom:25px;
}
.content__title{
	font-size:1.2em;
	line-height:1.2em;
}

/*/////////////////////////////////////////////////////
// footer
/////////////////////////////////////////////////////*/

.social{
	width:640px;
	height:55px;
}

/*/////////////////////////////////////////////////////
// list (generic)
/////////////////////////////////////////////////////*/

.list{
	/*estrutura*/
	list-style:none;
	padding:0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	text-align:center;
	/*formatação*/
	width:100%;
	height:100%;
}
.list__item{
	/*estrutura*/
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	/*formatação*/
	transition:0.4s ease-out;
	float: left;
	margin-right: 20px;
}
.list__item>a{
	/*estrutura*/
	width:auto;
	height:auto;
	display:inline-block;
	position:relative;
	/*alternativa para textos longos*/
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	/*formatação*/
	color:#282828;
	outline:none;
	text-decoration: none;
	font-size:1.2em;
	line-height:1.2em;
	border-bottom:2px solid transparent;
	/*animação*/
	-webkit-transition:color 0.2s ease-out, border-color 0.3s ease-out;
	-moz-transition:color 0.2s ease-out, border-color 0.3s ease-out;
	-ms-transition:color 0.2s ease-out, border-color 0.3s ease-out;
	-o-transition:color 0.2s ease-out, border-color 0.3s ease-out;
	transition:color 0.2s ease-out, border-color 0.3s ease-out;
}

.list__item:nth-child(1)>a:hover{
	color:#fdc14a;
	text-decoration: underline;

}
.list__item:nth-child(2)>a:hover{
	color:#fdc14a;
	text-decoration: underline;
}
.list__item:nth-child(3)>a:hover{
	color:#fdc14a;
	text-decoration: underline;
}
.list__item:nth-child(4)>a:hover{
	color:#fdc14a;
	text-decoration: underline;
}
.list__item:nth-child(5)>a:hover{
	color:#fdc14a;
	text-decoration: underline;
}


/*/////////////////////////////////////////////////////
// adapters
/////////////////////////////////////////////////////*/

@media screen and (max-width:480px){
	body{
		overflow-y:auto;
	}
	.main{
		vertical-align:top;
		padding-top: 60px;
	}
	.social{
		width:90%;
	}
	.list{
		min-width:150px;
		table-layout:auto;
	}
}
