@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    background:#CCD0D9;
    display: block;
    font-size: 120%;
    font-family: "Lato-Light",sans-serif; 
    height: 95%;
    max-width: 1680px;
    margin: 0 auto;
}

div{
    font-family: "Lato-Light",sans-serif;
    font-size: 3.3em;
    line-height: 1.2em;
    color:#7D7D7D;
    text-align: left;
    margin-top: 200px;
    padding: 0.3em 1.2em;

}


ul{ 
    padding: 10px 80px;
    width: 100;
    list-style: none;
    word-spacing: 1.3em;

}

a:hover {
    color: #374f65;
    border-bottom:2px solid #427c93;
    



}
ul li a{
    color: #737373;
    text-decoration: none;
    font-size: 1.2em;


}
li{
    display: inline-block;



}

footer{
    color: #565656;
    position: absolute;
    left: 0 auto;
    bottom: 0 auto;
    display: block;
    
}






